In [2]:
!pip install kaggle

import pandas as pd
import zipfile
import kaggle

Requirement already satisfied: kaggle in c:\users\pedro\anaconda3\lib\site-packages (1.6.4)
Requirement already satisfied: six>=1.10 in c:\users\pedro\appdata\roaming\python\python311\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\pedro\anaconda3\lib\site-packages (from kaggle) (2023.11.17)
Requirement already satisfied: python-dateutil in c:\users\pedro\appdata\roaming\python\python311\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\pedro\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\pedro\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\pedro\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\pedro\anaconda3\lib\site-packages (from kaggle) (1.26.18)
Requirement already satisfied: bleach in c:\users\pedro\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\pedro\appdata\roaming\python\python311\site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: webencodings in c:\users\pedro\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\pedro\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pedro\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pedro\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\pedro\appdata\roaming\python\python311\site-packages (from tqdm->kaggle) (0.4.6)

In [3]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [5]:
#Unzip the file from download
zip_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zip_name,'r') as file:
    file.extractall()

In [29]:
#Using Pandas to read csv file
df = pd.read_csv("london_merged.csv")

In [7]:
#Getting kwon the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [8]:
#Number of rows and colunms
df.shape

(17414, 10)

In [30]:
#Showing the data frame
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [10]:
#Counting unique values in the season column
df.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [11]:
#Counting unique values in the weather_code column
df.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [42]:
# Making a dictionary for new colunms names
new_cols_dict ={
    'timestamp':'date_time',
    'cnt':'count', 
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

# Renaming the columns to the specified column names
df.rename(new_cols_dict, axis=1, inplace=True)

In [43]:
df.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,Broken clouds,False,True,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,Clear,False,True,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,Clear,False,True,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,Clear,False,True,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,Clear,False,True,Winter

In [33]:
#
season_dict = {
    '0.0':'Spring',
    '1.0':'Summer',
    '2.0':'Fall',
    '3.0':'Winter'
}
df.season = df.season.astype('str')
df.season = df.season.map(season_dict)

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,Winter

In [34]:
#
weather_dict = {
    '1.0':'Clear'
    , '2.0':'Scattered clouds'
    , '3.0':'Broken clouds'
    , '4.0':'Cloudy'
    , '7.0':'Rain'
    , '10.0':'Rain with thunderstorm'
    , '26.0':'Snowfall'
}

# changing the weather column data type to string
df.weather = df.weather.astype('str')
df.weather = df.weather.map(weather_dict)

In [35]:
boolean_dict = {
    '0.0': 'False'
    , '1.0': 'True'
}
# Convertendo a coluna holiday para string e mapeando os valores
df.is_holiday = df.is_holiday.astype('str')
df.is_holiday = df.is_holiday.map(boolean_dict)
df.is_weekend = df.is_weekend.astype('str')
df.is_weekend = df.is_weekend.map(boolean_dict)

In [41]:
df.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,Broken clouds,False,True,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,Clear,False,True,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,Clear,False,True,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,Clear,False,True,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,Clear,False,True,Winter